<% content_for :title, t("all_model", model:User.model_name.human(count: 2).downcase) %>
<table role="grid">
        <thead>
            <th>CID</th>
            <th>Full name</th>
        <% if @show_restricted %>
        <% end %>
        </thead>
        <tbody>
            <% @users.each do |u| %>
            <tr>
                <td><%= link_to u.uid, user_path(u) %></td>
                <td><%= u.name_and_nick %></td>
            <% if @show_restricted %>
            <% end %>
            </tr>
        </tbody>

  <% end %>
</table>
