<% content_for :title, @user.name_and_nick %>
<% if @user.admin? %>
    <% content_for :labels do  %>
    <span class="admin-label" style="margin-bottom: 2px;">Admin</span>
    <%= link_to edit_admin_user_path(@user) do %><%= fa_icon 'cog', text: 'Ändra' %><%- end -%>
    <% end %>
<% end %>
<section class="user-details">
  <table class="borderless">
    <tbody>
    <% user_attrs.each do |a| %>
        <% if show_attr? a %>
          <tr>
            <td>
              <strong><%= User.human_attribute_name(a) %></strong>
            </td>
            <td width="100%">
              <%= attr_or_not_entered(@user, a).html_safe %><br>
            </td>
          </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</section>
