<% content_for :title, t('logged_in_as') + ' ' + @user.display_name %>
<section class="user-details">
  <table>
    <% user_attrs.each do |a| %>
      <tr>
        <td>
          <strong><%= User.human_attribute_name(a) %></strong>
        </td>
        <td>
          <%= attr_or_not_entered(@user, a) %><br>
        </td>
      </tr>
    <% end %>
  </table>
</section>
<%= link_to t('edit'), edit_me_path %> |
<%= link_to t('logout'), destroy_user_session_path, method: :delete %>
