<% content_for :title, @user.name_and_nick %>
<% if @user.admin? %>
    <% content_for :labels do  %><span class="admin-label">Admin</span><% end %>
<% end %>
<section class="user-details">
  <table>
    <% user_attrs.each do |a| %>
      <tr>
        <td>
          <strong><%= User.human_attribute_name(a) %></strong>
        </td>
        <td>
          <%= attr_or_not_entered(@user, a) %><br>
        </td>
      </tr>
    <% end %>
  </table>
</section>
