/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/alert-boxes";
@import "foundation/components/labels";

body {
  background: #f1f1f1;
}

@mixin box {
  background-color: #fff;
  box-shadow: rgba(#000, .3) 0 1px 3px;
}

.centered {
	text-align: center;
}

.notice-box {
  margin: 40px 0 0;
}

.login-box {
  transition: all 1s ease;
  @include box;
  margin-top: 50px;
  padding: 25px;
  padding-top: 250px;
  background: white url(itlogo.svg) no-repeat center 50px;
}
