// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "materialize/components/prefixer";
//@import "materialize/components/mixins";
//@import "materialize/components/color";
//@import "materialize/components/variables";
//@import "materialize/components/global";
//@import "materialize/components/cards";
//@import "materialize/components/grid";
//@import "materialize/components/typography";
// This is a card container
.card {
  border: 1px solid #ededed;
  margin-bottom: 0.5rem;
  background: #fff;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    color: inherit;
  }
  .card ul {
    margin-bottom: 0;
  }
  .card img {
    width: 100%;
  }
  .card-divider {
    background: #ededed;
    padding: 1rem;
  }
  .card-section {
    padding: 1rem;
  }
