/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/autocomplete
 *= require_self
 */


@import "foundation/components/type";
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/tables";
@import "foundation/components/alert-boxes";
@import "foundation/components/labels";
@import "foundation/components/top-bar";
@import "foundation/components/button-groups";
@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
@import "foundation/components/pagination";
@import "foundation/components/tooltips";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
@import "font-awesome";

body {
  background: #f1f1f1;
}

@mixin box {
  background-color: #fff;
  box-shadow: rgba(#000, .3) 0 1px 3px;
}

.centered {
	text-align: center;
}

.notice-box {
  margin: 40px 0 0;
}

@-webkit-keyframes rotating {
  from { -webkit-transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotating {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.itlogo {
  margin: 16px auto 0;
  width: 75%;
  min-height: 200px;
  background: asset-url('itlogo.svg') no-repeat center;
  background-size: contain;
  &.animating {
    -webkit-animation: rotating 2s ease-out infinite;
    animation: rotating 2s ease-out infinite;
  }
}

.login-box {
  // transition: all 1s ease;
  @include box;
  margin: 16px 0;
  padding: 25px;
  background: white;
}

.top-bar {
    a.top-logo {
        background: asset-url('itlogo.svg') no-repeat left;
        background-size: $topbar-height - 0.4;
        margin-left: 9px;
        padding-left: $topbar-height - 0.4 !important;
    }

}
.top-bar-section .dropdown li.logout:not(.has-form):not(.active) > a:not(.button) {
    background-color: #d2322d;
}

.top-bar-section, .top-bar-section .dropdown {
    li:not(.has-form) a:not(.button), li:not(.has-form):not(.active) > a:not(.button) {
        &:hover {
            background-color: $topbar-link-bg-active-hover;
        }
    }
}

.admin-label {
    @include label(
        $padding:7px 10px 7px 24px,
        $radius:5px
    );
    background:#2D882D asset-url('digit.svg') no-repeat left;
    background-position: 5px;
    background-size: 16px;
}

.labels {
    height: 55px;
}
.labels span {
    margin-top: 15px;
}

@media (max-width: 730px) {
        .hide-on-small {
            display: none;
        }
}

.dropdown-width {
    min-width: 200px;
}


.no-margin {
    margin: 0 !important;
}
