.user-details {
  margin: 20px 0;
  .not-entered {
    color: #777;
  }
}

#error_explanation {
  margin-bottom: 2em;
}

.form-inline div { display: inline-block }
.top-align { vertical-align: top; }
.selection-width { width: 100px; }
.input-width { width: 200px !important; }
