.user-details {
  margin: 20px 0;
  .not-entered {
    color: #777;
  }
}

#error_explanation {
  margin-bottom: 2em;
}

#t, #q {
    margin-bottom: 0;
}

#protip {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.borderless {
    border: 0;
}
